Source: node-css-select
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Paolo Greppi <paolo.greppi@libpf.com>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends:
 debhelper-compat (= 13)
 , dh-sequence-nodejs
 , jest (>= 27~) <!nocheck>
 , node-css-what (>= 6.1.0~)
 , node-boolbase (>= 1.0.0+~1.0.0~)
 , node-domutils (>= 3.0.1~)
 , node-domhandler (>= 5.0.2~)
 , node-htmlparser2 (>= 8.0.0~)
 , node-jest-diff
 , node-expect.js
 , node-nth-check (>= 2.0.0~)
 , node-typescript
 , ts-jest <!nocheck>
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/js-team/node-css-select
Vcs-Git: https://salsa.debian.org/js-team/node-css-select.git
Homepage: https://github.com/fb55/css-select#readme
Rules-Requires-Root: no

Package: node-css-select
Architecture: all
Depends:
 ${misc:Depends}
 , node-boolbase
 , node-css-what (>= 6.1.0~)
 , node-domutils (>= 3.0.1~)
 , node-domhandler (>= 5.0.2~)
 , node-nth-check (>= 2.0.0~)
Description: CSS selector compiler/engine
 Node.js module that turns CSS selectors into functions that test
 if DOM elements match them. Provides an efficient and complete
 implementation of CSS3 and a partial implementation of jQuery/Sizzle
 extensions.
 .
 Node.js is an event-based server-side JavaScript engine.
